<!DOCTYPE html>
<html>
<head>
    <title>СловоСчет)</title>
</head>
<body>
    <h1>Считает слова</h1>

    <form method="post">
        {% csrf_token %}
        <label for="filename">Загрузить слова из файла:</label>
        <input type="text" name="filename" id="filename">
        <button type="submit" name="load">Load</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <label for="word">ПосчитатьЖ</label>
        <input type="text" name="word" id="word">
        <button type="submit" name="wordcount">Check</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="clear_memory">Очистить историю</button>
    </form>

    {% if word_counter_result %}
    <p>{{ word_counter_result }}</p>
    {% endif %}
</body>
</html>